body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
}
#country-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.my-country {
    border: 2px solid rgb(19, 135, 139);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 350px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: black;    
}
.btn {
    color: white;
    background-color:rgb(233, 165, 64);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#country-details {
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
#country-details img{
    width: 350px;
}